<% include head.ejs%>

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Profile Deleted</h1>

        <a href="/logout" class="btn btn-default">Ok!</a>

    </div>

<% include foot.ejs%>