<% include head.ejs%>

  <div class="deleted-profile">
    <div class="delete-message"><b>Your profile has been deleted</b></div>
    <a href="/logout" class="form-control deleted-button">Close</a>
  </div>


<% include foot.ejs%>

