<% include head.ejs%>


    <div class="container update-profile">
        <h2 style="text-align: center; margin-bottom: 30px; font-family: 'Comfortaa'; color: white; margin-top: 50px;"><b>Update Profile</b></h2>
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
    </div>
    

    <div class="col-sm-6 col-sm-offset-3 update-profile-newInfo">
        <form action="/api/update-profile" method="post">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="first" value="<%= user.first %>">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="last" value="<%= user.last %>">
            </div>
            <div class="form-group">
                <label>Phone Number <span class="asterisks">*</span></label>
                <input type="text" class="form-control" name="phone" value="<%= user.phone %>">
            </div>

            <button type="submit" class="form-control"  style="background-color: #3FC3D8; margin-top: 60px; color: white; border: 0px;">Update</button>
        </form>
    </div>

<% include foot.ejs%>