html,body{
    border: 0;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    font-family: 'Comfortaa';
    color: black;
}

#id {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    width: 100;
    height: 72px;
}

.headerLine {
    width: 100;
    padding: 1px;
    margin: 1px;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0%;
}

.mainContainer {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.bodyContainer {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.navbar-header {
    width: 100%;
}

.btn {
    margin: 5px;
    padding: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.homeLogoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 40%;
}

.homeLogo {
    width: 80%;
}

.homeSplitButton {
    width: 30%;
    height: 5%;
    border-color: #19cae6;
    border-width: 2px;
    background-color: transparent;
    font-family: 'Comfortaa';
    color: black;
}

.btn {
    border-color: #19cae6;
    border-width: 2px;
    background-color: transparent;
    font-family: 'Comfortaa';
    color: black;
}

.btn-primary:hover {
    background-color: white;
    border-color: #14a2b8;
    color: black;
}

.btn-success:hover.dropdown-toggle.btn-success {
    background-color: white;
    border-color: #14a2b8;
    color: black;
}

.homeHR {
    width: 40%;
}

.footerHR {
    margin: 0;
    margin-bottom: 5px; 
}

.homeWelcome {
    font-family: 'Comfortaa';
}

footer {
    text-align: center;
    padding: 10px;
    left: 0;
    /*bottom: 0;*/
    /*position: absolute;*/
    height: 12%;
    width: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -12%; 
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 12%; 
}


.inputTable > tbody > tr > td,
.inputTable > tbody > tr > th,
.inputTable > tfoot > tr > td,
.inputTable > tfoot > tr > th,
.inputTable > thead > tr > td,
.inputTable > thead > tr > th,
.inputTable {
    border: none;
}


/*
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formItem {
    padding: 10px;
    flex: 1 1 auto;
}

.formItemBit {
    padding: 5px;
    margin: 5px;
    flex: 1 1 auto;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inputItem {
    flex: 1 1 auto;
    margin: 5px;
}

.inputItemBit {
    padding: 5px;
    margin: 5px;
}
*/

